@import '~antd/dist/antd.css';

html{
  scroll-behavior: smooth;
}

/*header*/
.nav-link{
  font-weight: 400;
}

/*banner*/
.banner{
  margin-top: 100px;
}

/*rekomendasi*/
.rekomendasi{
  margin-top: 100px;
}
.ant-statistic-content{
  font-size: 48px;
}
.ant-card:hover{
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.alamat.anticon{
  vertical-align: 0.125rem;
}

/*kota*/
.img-kota{
  background-size: cover;
  background-position: center;
  background-color: silver;
  background-blend-mode: darken;
}

/*mitra*/
.mitra .ant-card-wider-padding .ant-card-body{
  padding: 12px !important;
}
.mitra .ant-card-body{
  padding: 12px !important;
}

/*Footer*/
.ant-list-split .ant-list-header{
  border-bottom: none;
}
